.navigation {
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    color: var(--color-dark-2);
    opacity: 0.5;
    text-decoration: none;

    &--active {
      color: var(--color-primary);
      background-color: var(--color-light);
      border-radius: 5px;
      opacity: 1;
      box-shadow: var(--box-shadow);
    }
  }
}
