// css reset
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

// define css variable
:root {
    --color-primary: #BB1E1E;
    --color-secondary: #1E71BB;
    --color-dark: #000000;
    --color-dark-2: #1D1D1B;
    --color-light: #FFFFFF;

    --box-shadow: 0px 1px 2px -1px #C8CAD1;

    --container-max-width: 1140px;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

body {
    font-size: 16px;
    background: #F4F5F8;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 70px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
